/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;
  /*========== Default Animation ==========*/
  --from-translate-x: 0;
  --from-translate-y: 0;
  --from-rotate: 0;
  --to-translate-x: 0;
  --to-translate-y: 0;
  --to-rotate: 0;
  --duration: 1s;
  --delay: 0s;
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(238, 100%, 70%);
  --first-gradient: linear-gradient(
    90deg,
    hsl(243, 96%, 54%),
    hsl(296, 78%, 53%)
  );
  --second-gradient: linear-gradient(
    90deg,
    hsl(192, 94%, 49%),
    hsl(224, 98%, 51%)
  );
  --third-gradient: linear-gradient(
    90deg,
    hsl(25, 96%, 55%),
    hsl(34, 93%, 53%)
  );
  --white-color: hsl(0, 0%, 100%);
  --text-color: hsl(0, 0%, 75%);
  --text-color-light: hsl(0, 0%, 55%);
  --border-color: hsl(0, 0%, 45%);
  --body-color: hsl(238, 100%, 12%);
  --body-color-light: hsl(238, 60%, 20%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --second-font: "Audiowide", sans-serif;
  --biggest-font-size: 4rem;
  --big-font-size: 2.5rem;
  --h1-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1210px) {
  :root {
    --biggest-font-size: 5.5rem;
    --big-font-size: 3.125rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
  }
}
@media screen and (max-width: 550px) {
  :root {
    --biggest-font-size: 2.5rem;
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.875rem;
  }
}
/*=============== BASE ===============*/

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  background-color: black;
}
body {
  padding: 110px 0 0 0;
  margin: 0;
}
nav,
section {
  padding: 0 80px;
  position: relative;
}

section {
  margin-bottom: 110px;
  display: flex;
  justify-content: center;

}

.container {
  max-width: 1110px;
  width: 100%;
}
figure {
  margin: 0 !important;
}
p,
a {
  font-family: var(--body-font);
  color: var(--white-color);
  margin: 0;
}
.rounded-pill {
  border-radius: 20%;
}
.title {
  font-family: var(--second-font);
}
.description {
  font-size: var(--normal-font-size);
}
.decorative_image {
  position: absolute;
}
.opacity-0{
  opacity: 0 !important;
}
/* SECTIONS */
.travel,
.contact {
  margin-bottom: 0 !important;
}
footer {
  padding-top: 110px;
}
.explore,
.history {
  padding-top: 110px;
}
.history{
  overflow: hidden;
}
.title {
  font-size: var(--big-font-size);
}

/*=============== HEADER & NAV ===============*/
nav {
  position: fixed;
  inset: 0 0 auto 0;
  z-index: 6;
  display: flex;
  justify-content: center;
}
.logo {
  height: 50px;
}

.nav_brand {
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none !important;
  font-weight: var(--font-semi-bold);
  font-size: var(--h2-font-size);
}
.nav_brand figure {
  display: flex;
  align-items: center;
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1100px;
  min-width: 0;
}
nav {
  padding-top: 30px;
  padding-bottom: 30px;
}

.navbar_toggler i {
  font-size: 30px;
  cursor: pointer;
}
.active {
  color: var(--first-color);
}
/* Add blur header */
.nav_collapse {
  transform: translate(100%);
  transition: transform 0.3s;
  position: fixed;
  inset: 0 0 0 auto;
  width: 30vw;
  margin: 0;
  backdrop-filter: blur(15px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
  gap: 40px;
  z-index: 6;
}
.blur_nav {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
}
.show_nav_menu {
  transform: translate(0);
}
.nav_item {
  list-style: none;
  z-index: 4;
}
.nav_item a {
  text-decoration: none;
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  font-family: var(--body-font);
  transition: color 0.2s;
}
.nav_item a:hover {
  color: var(--first-color);
}
.nav_menu_close_btn {
  font-size: 25px;
  position: absolute;
  inset: 40px 40px auto auto;
  cursor: pointer;
}
.overlay {
  position: fixed;
  display: none;
  inset: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.3);
}
.overlay_visible {
  display: block;
}

.nav_menu_bg {
  position: absolute;
  width: 70%;
  inset: auto 0 10% auto;
}
/*=============== HOME ===============*/

.home {
  position: relative;
}
.home .container {
  display: flex;
  gap: 50px;

  justify-content: space-between;
  align-items: center;
}
.home_bg_img {
  position: absolute;
  top: -110px;
  left: 0;
  height: calc(100% + 220px);
  width: 100%;
  z-index: -1;
  object-fit: cover;
}
.home_title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-medium);
}
.gradient_bg_text {
  display: block;
  color: transparent;
  background-clip: text;
}
.span_orange_clr {
  background-image: var(--third-gradient);
}
.span_white_clr {
  color: white !important;
}
.span_blue_clr {
  background-image: var(--second-gradient);
}
.hero_img {
  height: 600px;
}
.home_description {
  position: relative;
}
.home_sticker {
  height: 100px;
  inset: auto 0 50% auto;
}
/*=============== BUTTON ===============*/
.home_btn {
  padding: 12px 18px;
  color: white;
  font-size: var(--normal-font-size);
  background: var(--first-gradient);
  border-radius: 2px;
  border: none;
  font-family: var(--body-font);
  margin-top: 50px;
}
/*=============== TRAVEL ===============*/
.travel {
  position: relative;
}
.travel_bg {
  position: absolute;
  inset: 0 auto auto 0;
  width: 60%;
}
.travel .container {
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  padding: 120px;
}
.travel .title {
  line-height: 60px;
  font-weight: 500;
}
.cards_wrapper {
  margin-top: 90px;
}
.card {
  width: 100%;
  max-width: 300px;
  border: 2px solid;
  border-image: var(--second-gradient) 1;
  padding: 0 30px 70px 30px;
  position: relative;

}
.card img {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  height: 170px;
}
.card_middle_part {
  margin-top: 130px;
  text-align: center;
}

.card_middle_part .planet_name {
  font-size: var(--h2-font-size);
  font-weight: 500;
}
.card_middle_part .planet_distance {
  color: rgb(78, 78, 78);
  font-size: 14px;
}
.card .description {
  text-align: center;
  margin-top: 20px;
}

/* Swiper class */
.swiper {
  overflow-y: visible;
  overflow-x: clip;
  display:flex;
  flex-direction: column;
  gap: 30px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}
.swiper-pagination {
position: initial;
}
.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  border: 2px solid white;
}
.swiper-pagination-bullet-active {
  position: relative;
  border: 2px solid hsl(25, 96%, 55%);
  background-color: transparent;
}
.swiper-pagination-bullet-active:after {
  content: "";
  position: absolute;
  inset: 2px;
  border-radius: 50%;
  background: var(--third-gradient);
}

/*=============== EXPLORE ===============*/
.explore_banner {
  height: 500px;
}
.explore_right_part img {
  height: 80px;
  right: -40px;
  top: 10%;
}
.explore_right_part {
  position: relative;
}
.explore .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.explore .description {
  color: var(--text-color);
  max-width: 500px;
  margin: 20px auto 50px auto;
}
.explore_bootom_right_part {
  display: flex;
  gap: 60px;
}
.explore_bootom_right_part :is(.moon_title, .explore_distance_title) {
  font-size: var(--normal-font-size);
  font-weight: 500;
  margin-bottom: 15px;
}
.explore_bootom_right_part :is(.no_of_moons, .distance_number) {
  font-family: var(--second-font);
  background: var(--second-gradient);
  color: transparent;
  background-clip: text;
  font-size: var(--h1-font-size);
}
.explore_bootom_right_part .distance_number .km {
  font-size: var(--h2-font-size);
}

/*=============== HISTORY ===============*/
.history {
  position: relative;
}
.history img {
  height: 100px;
}

.history .planet_1 {
  left: -14rem;
  
  height: 400px;
  top: 10%;
}
.history .planet_2 {
  right: -6rem;
  height: 200px;
  top: 10%;
}
.history .title {
  text-align: center;
}
.history_cards_wrapper {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.history_cards {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.history_cards .description {
  text-align: center;
  max-width: 300px;
}
.history_cards img {
  height: 200px;
}
.history_cards .grey_txt {
  color: var(--text-color);
}
/*=============== CONTACT ===============*/
.contact .title {
  text-align: center;
}
.contact .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact_input_wrapper {
  margin-top: 40px;
  width: 100%;
  max-width: 500px;
  position: relative;
}
.contact_input_wrapper input {
  height: 70px;
  width: 100%;
  background-color: transparent;
  border: 1px solid var(--text-color);
  color: var(--white-color);
font-size: var(--normal-font-size);
  padding: 0 150px 0 20px;
}
.contact_input_wrapper input:is(:focus, :hover) {
  outline: none;
  border: 1px solid var(--white-color);
}
.contact_input_wrapper label {
  font-size: 14px;
  font-family: var(--body-font);
  color: var(--text-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  transition: top 0.2s;
}
.contact_input:focus + .contact_input_label,
.contact_input:not(:placeholder-shown) + label {
  top: 0;
  color: white;
  font-size: 12px;
  background-color: black;
  padding: 0 5px;
  left: 10px;
}
.contact_input_wrapper button {
  padding: 0 20px;
  background: var(--third-gradient);
  position: absolute;
  inset: 12px 12px 12px auto;
  border: none;
  cursor: pointer;
  transition: box-shadow 0.2s;
}
.contact_input_wrapper button:hover {
  box-shadow: 0px 4px 13px 0px rgba(247, 150, 24, 0.4);
}
.contact_input_wrapper :is(.email_btn_text_1,.email_btn_text_2 ) {
  color: var(--white-color);
  font-weight: 500;
  font-size: var(--normal-font-size);
}
.contact_input_wrapper .email_btn_text_2 {
  display: none;
}
/*=============== FOOTER ===============*/
footer {
  position: relative;
  overflow: hidden;
  padding-bottom: 150px;
  display: flex;
  justify-content: center;
}

footer .planet_1 {
  bottom: 0;
  transform: translateY(50%);
  height: 300px;
  left: 70px;
}
footer .planet_2 {
  height: 150px;
  right: 100px;
  top: 0%;
}
footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer_nav {
  display: flex;
  width: 100%;
  max-width: 350px;
  justify-content: space-between;
  margin-bottom: 35px;
}
.footer_social_wrapper {
  display: flex;
  justify-content: space-between;
  width: 160px;
}
.footer_social_wrapper .social_icon {
  padding: 8px;
  font-size: 1px;
  background-color: hsl(34, 93%, 53%);
  transition: box-shadow 0.2s;
  cursor: pointer;
}
.footer_social_wrapper .social_icon:hover {
  box-shadow: -2px 2px 13px 0px rgba(247, 150, 24, 0.5);
}
.footer_social_wrapper .social_icon i {
  font-size: 20px;
}

/*=============== SCROLL BAR ===============*/
body::-webkit-scrollbar{
  width: .7rem;
}
body::-webkit-scrollbar-track{
 background-color: var(--body-color-light);
}
body::-webkit-scrollbar-thumb{  
  background-color:  hsl(0, 0%, 24%);
}

/*=============== SCROLL UP ===============*/
.scroll_up_btn{
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  background-color: black;
  border-radius: 60%;
  position: absolute;
  right: 10%;
  bottom: 10%;
  cursor: pointer;
  transition: transform .4s;
}
.scroll_up_btn:hover{
  transform: translateY(-15px);
}
.invisible{
  display: none;
}
.ri-arrow-up-line{
  font-size: 24px;
  color: white;
  transition: opacity 1s;
}
/* Show Scroll Up */
.opa-0{
  animation: opa0 1s  ease 0s 1 forwards;
  
  }
  @keyframes opa0 {
    from{
      opacity: 1;
      transform: translateY(0px);
    } to{
      opacity: 0;
      transform: translateY(-50px);
  
    }
  }
/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media (max-width: 1210px) {
  .hero_img {
    height: 400px;
    margin-top: 0;
  }
  .container {
    max-width: 800px;
  }
  .home_sticker {
    height: 70px;
  }
  .travel .title {
    line-height: 50px;
  }
  .explore_banner {
    height: 400px;
  }
  .explore_right_part img {
    right: -15%;
    height: 60px;
  }
  section {
    margin-bottom: 50px;
  }
  footer {
    padding-top: 50px;
  }
}

/* For medium devices */
@media (max-width: 1000px) {
  .home .container {
    flex-direction: column;
    gap: 100px;
  }
  .explore .container {
    flex-direction: column-reverse;
    gap: 100px;
  }
  .travel .title {
    text-align: center;
  }
  .nav_collapse {
    width: 50vw;
  }
  .history_cards_wrapper {
    grid-template-columns: 1fr;
    place-items: center;
    gap: 50px;
  }
  footer .planet_1 {
    bottom: 0;
    transform: translateY(50%);
    height: 300px;
    left: -15%;
  }
  footer .planet_2 {
    height: 90px;
    right: 5%;
    top: 30%;
  }
  .travel .container{
    padding: 120px 40px 120px 40px;
  }
}
/* For small devices */
@media (max-width: 550px) {
  section,
  nav,
  footer {
    padding-left: 20px;
    padding-right: 20px;
  }
  .home_sticker {
    height: 50px !important;

    inset: auto 0px 50% auto;
  }
  .travel .title {
    line-height: 40px;
  }
  .nav_collapse {
    width: 70vw;
  }
  .explore_right_part img {
    top: -30%;
    right: 10%;
    height: 60px;
  }
  .explore_banner {
    height: 300px;
  }
  .history .planet_1 {
    top: 20%;
    height: 150px;
    left: -5rem;
  }
  .history .planet_2 {
    height: 100px;
    top: 15%;
    right: -3.5rem;
  }
  footer .planet_1 {
    bottom: 0;
    height: 200px;
    left: -15%;
  }
  footer .planet_2 {
    height: 60px;
  }
}
@media (max-width: 370px) {
  .hero_img {
    height: 250px;
  }
  .home .container {
    gap: 40px;
  }
  footer .planet_2 {
    top: 55%;
  }
  .card img{
    height: 140px;
  }
  .travel .container{
    padding: 120px 10px 120px 10px;
  }
  .contact_input_wrapper button{
    padding: 0 12px;
   
  }
  .contact_input_wrapper .email_btn_text_2{
display: block;
  }
  .contact_input_wrapper .email_btn_text_1 {
    display: none;
  }
}
